In [1]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [2]:
seed = 42

In [11]:
df  = pd.read_csv('./data/pacs_v1.0/centralize.csv')

In [12]:
df

,Unnamed: 0,split,domain_remapped,domain,category,y,path
0,0,test,1,art_painting,dog,0,art_painting/dog/pic_001.jpg
1,1,train,1,art_painting,dog,0,art_painting/dog/pic_002.jpg
2,2,val,1,art_painting,dog,0,art_painting/dog/pic_003.jpg
3,3,train,1,art_painting,dog,0,art_painting/dog/pic_004.jpg
4,4,train,1,art_painting,dog,0,art_painting/dog/pic_005.jpg
...,...,...,...,...,...,...,...
9986,9986,train,3,sketch,person,6,sketch/person/12236.png
9987,9987,train,3,sketch,person,6,sketch/person/12237.png
9988,9988,train,3,sketch,person,6,sketch/person/12238.png
9989,9989,train,3,sketch,person,6,sketch/person/12239.png
9990,9990,train,3,sketch,person,6,sketch/person/12240.png

In [13]:
print(len(df[df['split'] == 'train']))
print(len(df[df['split'] == 'val']))
print(len(df[df['split'] == 'test']))

7972
1009
1010

In [6]:
domain_list = df['domain'].unique()
category_list = df['category'].unique()

In [8]:
for domain in domain_list:
    for category in category_list:
        category_df = df[(df['category'] == category) & (df['domain'] == domain)]
        category_length = len(category_df)
        category_index = category_df.index.values.tolist()
        train_idx, test_idx = train_test_split(category_index, train_size=0.9, random_state=seed)
        train_idx, val_idx = train_test_split(train_idx, train_size=0.8889, random_state=seed)
        df.loc[train_idx, 'split'] = 'train'
        df.loc[val_idx, 'split'] = 'val'
        df.loc[test_idx, 'split'] = 'test'

In [9]:
df

,Unnamed: 0,split,domain_remapped,domain,category,y,path
0,0,test,1,art_painting,dog,0,art_painting/dog/pic_001.jpg
1,1,train,1,art_painting,dog,0,art_painting/dog/pic_002.jpg
2,2,val,1,art_painting,dog,0,art_painting/dog/pic_003.jpg
3,3,train,1,art_painting,dog,0,art_painting/dog/pic_004.jpg
4,4,train,1,art_painting,dog,0,art_painting/dog/pic_005.jpg
...,...,...,...,...,...,...,...
9986,9986,train,3,sketch,person,6,sketch/person/12236.png
9987,9987,train,3,sketch,person,6,sketch/person/12237.png
9988,9988,train,3,sketch,person,6,sketch/person/12238.png
9989,9989,train,3,sketch,person,6,sketch/person/12239.png
9990,9990,train,3,sketch,person,6,sketch/person/12240.png

In [10]:
df.to_csv('./data/pacs_v1.0/centralize.csv', sep=',', index=False, encoding='utf-8')